body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.navigation {
    background-color: #f8f9fa;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}
.navigation a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}
.navigation a:hover {
    text-decoration: underline;
    color: red;
}
.navigation nav a {
    margin-left: 1rem;
}
.navigation nav a:first-child {
    margin-left: 0;
}

.hero {
    background-image: url('images/global-connection-and-the-internet-network-modernization-in-smart-city-ai-cloud-internet-background-free-video.jpg');
    padding: 4rem 2rem;
    text-align: center;
    color: #f8f9fa;
    background-size: cover;
}

.About {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.profile-photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #f8f9fa;
}

@media (max-width: 1000px) {
    .stats2 { height: 190px; flex: 1 1 calc(33.333% - 14px); max-width: 33.333%; }
    .hamburger { display: none;  }
}

@media (max-width: 850px) {
    .stats2 { height: 180px; flex: 1 1 calc(50% - 12px); max-width: 50%; }
    .hamburger { display: none;  }
    
}

@media (max-width: 700px) {
    .stats { gap: 14px; }
    .stats2 { flex: 1 1 calc(50% - 12px); max-width: 50%; height: 170px; }
    .stats2 h2 { font-size: 1.4rem; }
    .stats2 p { font-size: 0.9rem; }
    .hamburger { display: none;  }
}

@media (max-width: 400px) {
    .stats2 { flex: 1 1 100%; max-width: 80%; height: 160px; align-items: center; margin-left: auto; margin-right: auto; }
    .stats2 h2 { top: 30%; font-size: 1.2rem; }
    .stats2 p { top: 62%; font-size: 0.85rem; }
}

.nav-links ul {
    list-style: none;
    display: flex;
    flex: 1 1 auto;
    gap: 20px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}
.nav-toggle {
    /*display: none;`*/
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
}
 
.nav-links ul li a {
    cursor: pointer;
    text-decoration: none;
}

.nav-links ul li a:hover {
    text-decoration: none;
    color: #FF6565;
}